label class="swap swap-rotate"
  input type="checkbox" data-controller="theme" data-action="change->theme#switch" data-theme-target='checkbox'
  = lucide_icon('sun', class: 'swap-on')
  = lucide_icon('moon', class: 'swap-off')
