- provide(:title, "RabbitMQ")

= render 'introduction'
= render 'agenda'
= render 'problem'
= render 'solution'
= render 'message_queue'
= render 'message_broker'
= render 'rabbitmq'
= render 'rabbitmq_architecture'
= render 'rabbitmq_exchange_types'
= render 'rabbitmq_message_flow'
= render 'rabbitmq_reliability'
= render 'rabbitmq_use_cases'
= render 'comparison'
= render 'decision_matrix'
= render 'thank_you'
